import {tailwindcss:preflight}
@import "tailwindcss";
@tailwind utilities;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-orange-400 via-amber-500 to-yellow-500 bg-clip-text text-transparent;
  }
}